@import "./breakpoint.scss";

.home {
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;

    @include Tablet {
        margin-left: 80px;
        margin-right: 35%;
    }

    @include Mobile {
        margin-left: 80px;
        margin-right: 0;
    }
}

.home-navbar {
    font-weight: 700;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 20px;
    background-color: rgba($color: #fff, $alpha: 0.6);
}
