@import "./breakpoint.scss";

.profile {
    font-size: 2rem;
    width: 100%;

    margin-left: 25%;
    margin-right: 25%;

    @include Tablet {
        margin-left: 80px;
        margin-right: 35%;
    }

    @include Mobile {
        margin-left: 80px;
        margin-right: 0;
    }
}

.profile-name-navbar {
    height: 52px;
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    width: calc(100% - 25% - 25%);

    @include Tablet {
        width: calc(100% - 80px - 35%);
    }

    @include Mobile {
        width: calc(100% - 80px);
    }
}

.profile-container {
    margin-top: 52px;
}

.profile-background-image {
    height: 200px;
    background-color: #cfd9de;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    @include Tablet {
        height: 180px;
    }

    @include Mobile {
        height: 130px;
    }

    span {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 20px;
        transform: translateY(-50%);
        padding: 5px;
        border-radius: 50%;
        background-color: #fff;

        .profile-avatar-img {
            width: 134px;
            height: 134px;

            @include Tablet {
                width: 100px;
                height: 100px;
            }

            @include Mobile {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.profile-edit {
    padding: 12px 16px 20px;
    border-bottom: 1px solid var(--border-color);
}

.btn-edit-profile {
    // text-align: end;
    display: flex;
    justify-content: flex-end;
}

.btn-edit-profile-btn {
    font-weight: 700;
    height: 36px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #cfd9de;
    @include Mobile {
        padding: 5px;
    }
}

.edit-modal {
    font-size: 2rem;
}

.edit-profile {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
}

.edit-profile-btn-close {
    height: 34px;
    width: 34px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 20px;
}

.edit-profile-save {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    flex: 1;
}

.edit-profile-save-btn {
    font-weight: 700;
    background-color: #000;
    color: #fff;
    height: 32px;
    padding: 0 16px;
    border-radius: 20px;
}

.edit-modal-bg {
    height: 192px;
    background-color: #b2b2b2;
    background-position: center;
    background-repeat: no-repeat;
    // filter: brightness(70%);
    position: relative;

    @include Tablet {
        height: 180px;
    }

    @include Mobile {
        height: 130px;
    }

    & span {
        padding: 5px;
        height: 134px;
        width: 134px;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        left: 20px;
        transform: translateY(-50%);
        & img {
            width: 100%;
            height: 100%;
            filter: brightness(70%);
        }

        @include Tablet {
            width: auto;
            height: auto;
        }

        @include Mobile {
            width: auto;
            height: auto;
        }

        .current-user-edit-avatar-img {
            @include Tablet {
                width: 100px;
                height: 100px;
            }

            @include Mobile {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.edit-modal-bg-btn {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: #56595b;
    border-radius: 50%;
    padding: 10px;
    transition: all linear 0.15s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        opacity: 0.7;
    }
}

.edit-modal-username {
    margin-top: 78px;

    @include Tablet {
        margin-top: 50px;
    }

    @include Mobile {
        margin-top: 30px;
    }
}

.edit-modal-username-name {
    font-size: 1.6rem;
}

.edit-modal-username-input {
    margin-bottom: 20px;
    height: 36px;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    outline: none;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.unfollow-btn {
    font-weight: 700;
    height: 36px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #b0b1b1;
    color: #000;

    @include PC {
        display: none;
    }

    @include Mobile {
        padding: 0 5px;
    }
}

.follow-btn {
    font-weight: 700;
    height: 36px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;

    @include PC {
        display: none;
    }
}

.btn-edit-profile .unfollow-btn,
.btn-edit-profile .follow-btn {
    display: block;
}

.profile-info {
    margin-top: 34px;
}

.profile-info-username {
    font-weight: 700;
}

.profile-info-nickname {
    font-size: 1.6rem;
    color: rgb(83, 100, 113);
}

.profile-info-created {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
    font-size: 1.6rem;
    color: #536471;
}

.profile-info-created-icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.profile-info-follow {
    display: flex;
    font-size: 1.4rem;
    margin-top: 12px;
    div {
        display: flex;

        span {
            font-weight: 700;
            margin-right: 3px;
        }

        p {
            color: #536471;
        }
    }

    div + div {
        margin-left: 20px;
    }
}
