@import "./breakpoint.scss";

.who-follow-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    transition: all linear 0.1s;
    cursor: pointer;

    @include Mobile {
        padding: 8px;
    }

    .who-follow-user-img {
        height: 48px;
        width: 48px;
    }
}

.who-follow-user:hover {
    background-color: rgb(226, 226, 226);
}

.who-follow-user-wrapper {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.who-follow-user-text {
    font-size: 1.4rem;

    & > p {
        @include Mobile {
            display: none;
        }
    }
}

.who-follow-user-text-name {
    font-weight: 700;
    display: flex;
    p {
        width: max-content;

        @include Mobile {
            width: auto;
        }
    }

    @include Mobile {
        flex-direction: column;
    }
}

.who-follow-user-text-name span {
    height: 16px;
    width: 16px;
    margin-left: 2px;
}
